/* PAGE CENTER */

.admin-container {
  min-height: 100vh;
  background: #f5e8cf;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* vertical center */
  align-items: center;       /* horizontal center */
}


/* TITLE */

.admin-title {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  margin-bottom: 25px;
  color: #1a1a1a;
  letter-spacing: 1px;
  text-align: center;
  margin-top: -50px;
  font-family: 'Playfair Display', serif;
}


/* FORM */

.admin-form {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #e6dcc9;

  display: flex;
  flex-direction: column;
  align-items: center;   /* centers items */
  gap: 15px;
}


/* INPUTS */

.input-field {
  width: 100%;
  padding: 12px;
  border: 2px solid #e6dcc9;
  border-radius: 6px;
  background: #faf7f0;
}


/* BUTTON */

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #1a1a1a;
  color: #f5f0e6;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #c8b89d;
  color: #ecd5ac;
}


/* FILE BUTTON */

.file-label {
  padding: 6px 14px;
  font-size: 13px;
  border: 1px solid #c8b89d;
  border-radius: 20px;
  background: #f5f0e6;
  cursor: pointer;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.file-label:hover {
  background: #e5c68a;
  color: #1d1d1d;
}


/* hide default file input */

.file-input-wrapper input {
  display: none;
}