.custom-alert{
  position:fixed;
  top:80px;
  right:30px;

  background:#1a1a1a;
  color:white;

  padding:14px 22px;
  border-radius:8px;

  font-size:14px;

  box-shadow:0 10px 25px rgba(0,0,0,0.2);

  animation:slideAlert 0.4s ease;
}

@keyframes slideAlert{
  from{
    transform:translateX(200px);
    opacity:0;
  }
  to{
    transform:translateX(0);
    opacity:1;
  }
}
@media (max-width:600px){

  .custom-alert{
    right:10px;
    left:10px;
    top:70px;
  }

}