.checkout-container {
  min-height: 100vh;
  background-color: #f5e8cf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-form input,
.checkout-form textarea {
  padding: 12px;
  border: 1px solid #c8b89d;
  border-radius: 6px;
}

.btn {
  background: black;
  color: #f5f0e6;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #c8b89d;
  color: black;
}