.navbar {
  background: #1a1a1a;
  color: #f5f0e6;
  padding: 15px 40px;
  height: 60px;                 /* smaller height */
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

.nav-menu {
  list-style: none;
  font-family: 'Playfair Display', serif;
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-menu a {
  color: #f5f0e6;
  text-decoration: none;
  font-weight: 500;
}

.nav-menu a:hover {
  color: #c8b89d;
}

.cart-icon {
  margin-right: 6px;
}

@media (max-width:768px){

  .logo{
    font-size:20px;
  }

  .nav-menu{
    width:100%;
    align-items:center;
  }

}